 /*
----------------------------------------------------
 	FieldBook modularized css STRUCTURE
	file: structure.css file - this is positioning and page behavior ONLY
	date: 06.01.10
	author: Nine Collective
	----------------------------------------------------
*/
a{line-height:100%}
ul{ overflow:hidden; list-style-type: none; display:block; }
	.list-edge{ padding:0px }
.f-left{ float:left; clear:none;}
.f-right{ float:right; clear:none;}
.inline { display: inline-block; }
.half { width: 45.75% }
.full { width:95.5%; }
.third { width:31%;}
.twothird { width: 64%; }
.hide {display: none;}
.mod{margin: 10px 0;} /* editted  from orig. mod.css of margin:10px to be compat. with 960gs */

.mod-ext{ padding:10px}
.hd,.bd,.ft{overflow:hidden;_overflow:visible; _zoom:1;}
	.ft{ padding:10px;}
	.hd{ padding-bottom:10px}
.inner{position:relative;}

.hdr-main{
	padding-bottom:10px;
	text-indent:10px;
	
	height:125px;
	}
.hdr-text {
	font-size:4.4em;
}

.notop { margin-top:0px; }
.nobottom { margin-bottom: 0px; }

.form-select-inline.vtop, .button.vtop { vertical-align: top; margin-top: 27px; }
	
/* **************** CONTENT OBJECTS***************** */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #111111;
}
h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.8em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.4em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.3em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1.1em;
  font-weight: bold;
}
h1 img { margin: 0; }
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
}
a:focus { color: #000000; }
a:hover { color: #000000; }
a {
  color: #000099;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0; }
li ol { margin: 0; }
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}