---
layout: default
---

<div class="post" id='post'>
  <h1><a href='{{ post.url }}'>{{ page.title }}</a></h1>
  <p class='meta'>
    {{ page.date | date: '%Y-%m-%d' }}
    {% unless page.tags == empty %}
      (<strong>{{ page.tags | join: '</strong>, <strong>' }}</strong>)
    {% endunless %}
  </p>
  {{ content }}
</div>

<h2>Discussion</h2>
<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/codefluency/embed.js"></script>
<noscript><p><a href="http://codefluency.disqus.com/?url=ref">View discussion.</a><p></noscript>


